<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/home_style.css">
	<title> 3rd eye</title>
</head>
<body>
	<header>
  		<h1>THIRD EYE HOME</h1>
	</header>
		<form>
			<nav>
				<table align="center">
					<tr>
						<br/><br/><br/><br/><br/>
						<td><button type="submit" formaction="login.html">Login</button></td>
						<td><button type="submit" formaction="register.html">Register</button></td>
					</tr>
				</table>
			</nav>
		</form>
	<article>
		<br/><br/><br/><br/><br/>
		<p><font color="white"px" size="5px">Our project The Third Eye is mainly focused to help the visually impaired people to detect objects which are used in daily life as well as to help them in recognizing people.Here we mainly use machine learning for detection of objects and face recognition for detection of face.
		</font></p>
	</article>
</body>
</html>
