<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login Form </title>
 
      <link rel="stylesheet" href="static/register_style.css">

  
</head>
<body><br/><br/><br/><br/><br/><br/>
        <div class="register">
		      <br/><br/>
          <h3>LOGIN</h3>
          <form id="log-form" method='post'>   
            <div>
              <label for="username">Username</label>
              <input type="text" name="username"/>
            </div>
            <div>
              <label for="password">Password</label>
              <input type="password" id="password" name="password" />
            </div>
            <div>
              <label></label>
              <input type="submit" value="Signin" name="login" class="button"/>
            </div>
          </form> 
        </div>  
</body>
</html>
